dev-profile-intelligence.yml
id: dev-profile-intelligence
namespace: dev.profile.agent

inputs:
  - id: github_username
    type: STRING
    defaults: "Atharva-026"
  - id: linkedin_summary
    type: STRING
    defaults: "JavaScript developer with experience in React and Node.js"
  - id: recipient_email
    type: STRING
    defaults: "atharvanaik026@gmail.com"

tasks:
  - id: parallel_fetch
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
      - id: fetch_github_profile
        type: io.kestra.plugin.core.http.Request
        uri: "https://api.github.com/users/{{ inputs.github_username }}"
        method: GET
        headers:
          Authorization: "Bearer {{ secret('GITHUB_TOKEN') }}"
          Accept: "application/vnd.github.v3+json"

      - id: fetch_github_repos
        type: io.kestra.plugin.core.http.Request
        uri: "https://api.github.com/users/{{ inputs.github_username }}/repos?sort=updated&per_page=10"
        method: GET
        headers:
          Authorization: "Bearer {{ secret('GITHUB_TOKEN') }}"
          Accept: "application/vnd.github.v3+json"

  - id: call_groq
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    env:
      GROQ_API_KEY: "{{ secret('GROQ_API_KEY') }}"
    outputFiles:
      - analysis.txt
    script: |
      import os
      import json
      import re
      import urllib.request
      import urllib.error

      groq_key = os.environ.get("GROQ_API_KEY")
      github_profile = json.loads("""{{ outputs.fetch_github_profile.body }}""")
      github_repos = json.loads("""{{ outputs.fetch_github_repos.body }}""")

      languages = list(set([r['language'] for r in github_repos if r['language']]))
      missing_desc = [r['name'] for r in github_repos if not r['description']]

      user_content = (
        f"GitHub Username: {github_profile.get('login')} | "
        f"Bio: {github_profile.get('bio')} | "
        f"Public Repos: {github_profile.get('public_repos')} | "
        f"Followers: {github_profile.get('followers')} | "
        f"LinkedIn: {{ inputs.linkedin_summary }} | "
        f"Languages: {languages} | "
        f"Repos missing description: {missing_desc}"
      )

      payload = json.dumps({
        "model": "llama-3.1-8b-instant",
        "messages": [
          {
            "role": "system",
            "content": "You are a brutally honest career coach for developers. Analyze this profile. Give: 1) Score out of 100, 2) Top 3 gaps, 3) Red flags recruiters notice, 4) Five action items. Be direct."
          },
          {
            "role": "user",
            "content": user_content
          }
        ]
      }).encode()

      req = urllib.request.Request(
        "https://api.groq.com/openai/v1/chat/completions",
        data=payload,
        headers={
          "Authorization": f"Bearer {groq_key}",
          "Content-Type": "application/json",
          "User-Agent": "kestra-workflow/1.0"
        }
      )

      try:
        with urllib.request.urlopen(req) as response:
          result = json.loads(response.read())
          raw = result['choices'][0]['message']['content']
          print(raw)

          html = raw
          html = re.sub(r'\*\*(.+?)\*\*', r'<strong>\1</strong>', html)
          html = re.sub(r'\*(.+?)\*', r'<em>\1</em>', html)

          lines = html.split('\n')
          formatted = []
          for line in lines:
            line = line.strip()
            if not line:
              formatted.append('<br>')
            elif re.match(r'^\d+\.', line):
              formatted.append(f'<li style="margin-bottom:8px;">{line}</li>')
            elif line.startswith('- '):
              formatted.append(f'<li style="margin-bottom:8px;">{line[2:]}</li>')
            else:
              formatted.append(f'<p style="margin:8px 0;">{line}</p>')

          html_body = '\n'.join(formatted)

          email_html = f"""<html>
      <body style="font-family:Arial,sans-serif;max-width:700px;margin:auto;padding:20px;color:#333;">
        <div style="background:linear-gradient(135deg,#667eea,#764ba2);padding:30px;border-radius:12px;text-align:center;margin-bottom:30px;">
          <h1 style="color:white;margin:0;font-size:24px;">Developer Profile Intelligence</h1>
          <p style="color:rgba(255,255,255,0.9);margin:8px 0 0;">AI-powered career analysis by Kestra + Groq</p>
        </div>
        <div style="background:#f8f9fa;padding:16px;border-radius:8px;margin-bottom:24px;border-left:4px solid #667eea;">
          <strong>GitHub:</strong> {{ inputs.github_username }}<br>
          <strong>LinkedIn:</strong> {{ inputs.linkedin_summary }}
        </div>
        <div style="background:white;padding:24px;border-radius:8px;border:1px solid #e0e0e0;line-height:1.8;">
          {html_body}
        </div>
        <div style="text-align:center;margin-top:24px;color:#999;font-size:12px;">
          Powered by Kestra Orchestration + Groq AI
        </div>
      </body>
      </html>"""

          with open('analysis.txt', 'w') as f:
            f.write(email_html)

      except urllib.error.HTTPError as e:
        error = e.read().decode()
        print(f"ERROR: {error}")
        with open('analysis.txt', 'w') as f:
          f.write(f"<p>Error: {error}</p>")

  - id: send_email
    type: io.kestra.plugin.notifications.mail.MailSend
    host: smtp.gmail.com
    port: 465
    username: "{{ secret('GMAIL_ADDRESS') }}"
    password: "{{ secret('GMAIL_PASSWORD') }}"
    sessionTimeout: 30000
    transportStrategy: SMTPS
    from: "{{ secret('GMAIL_ADDRESS') }}"
    to: "{{ inputs.recipient_email }}"
    subject: "🔍 Developer Profile Analysis - {{ inputs.github_username }}"
    htmlTextContent: "{{ read(outputs.call_groq.outputFiles['analysis.txt']) }}"